.about {
  color: $darkgrey;

  .container {
    padding-top: 75px;
    padding-bottom: 110px;
    padding-left: 302px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 302px;
      width: 156px;
      background-image: url("../img/number@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      top: 88px;
      left: 125px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/number@2x.png");
        background-size: 95%;
        left: 105px;
      }
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin: 0;
    margin-top: 21px;
    max-width: 984px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "PT Mono", sans-serif;
  }
}

.about__link {
  display: block;
  max-width: 180px;
  margin-top: 38px;
  color: $blue;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 14px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid $blue;
  border-radius: 5px;

  &:hover,
  &:focus {
    border-color: $darkgrey;
    color: $darkgrey;
  }
}

@media (max-width: $tablet-width) {
  .about {
    .container {
      padding-top: 25px;
      padding-bottom: 83px;
      padding-left: 185px;

      &::before {
        height: 361px;
        width: 177px;
        background-size: cover;
        top: 25px;
        left: 5px;
      }
    }

    h2 {
      font-size: 32px;
      line-height: 45px;
    }

    span {
      display: none;
    }

    p {
      margin-top: 26px;
      margin-left: 3px;

      &:last-of-type {
        position: relative;
        margin-top: 20px;

        &::before {
          content: "..";
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .about__link {
    padding: 13px 0;
    margin-top: 42px;
    margin-left: 4px;
  }
}

@media (max-width: $mobile-width-only) {
  .about {
    .container {
      padding-top: 36px;
      padding-bottom: 65px;
      padding-left: 4px;

      &::before {
        display: none;
      }
    }

    h2 {
      font-size: 28px;
      line-height: 39px;
    }

    p {
      margin-top: 21px;

      &:last-of-type {
        margin-top: 40px;

        &::before {
          bottom: 0;
          left: 135px;
        }
      }
    }
  }

  .about__link {
    margin-top: 29px;
  }
}
