.accordeon h2 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.accordeon__list {
  font-family: $ptmono;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba($darkest, 0.5);
  max-height: 100px;
}

.accordeon__button {
  display: none;
}

.accordeon__link {
  &:hover,
  &:focus {
    color: $darkest;
  }

  &:active {
    color: rgba($darkest, 0.2);
  }
}

@media (max-width: $mobile-width-only) {
  .accordeon {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      min-width: 768px;
      height: 1px;
      background-color: rgba($border, 0.2);
      left: -50%;
      bottom: 0;
    }
  }

  .accordeon h2 {
    margin: 27px 0;
    margin-left: 5px;
  }

  .accordeon__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 290px;
  }

  .accordeon__button {
    display: block;
    outline: none;
    border: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 1px;
      background-color: $icon;
      right: 0;
      top: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 17px;
      height: 1px;
      background-color: $icon;
      right: 0;
      top: 7px;
      transform: rotate(90deg);
    }
  }

  .accordeon--closed {
    .accordeon__list {
      display: none;
    }

    .accordeon__button {
      &::after {
        display: block;
      }
    }
  }

  .accordeon li {
    margin-right: 0;
  }
}
