.contacts {
  margin-right: 3px;
  margin-left: 28px;
}

@media (max-width: $tablet-width) {
  .contacts {
    align-self: flex-start;
    margin-left: 0;
    margin-right: 8px;
  }

  .contacts .accordeon__list {
    margin-right: 3px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    margin-right: 0;
  }

  .contacts h2 {
    margin-top: 30px;
    margin-bottom: 32px;
  }

  .contacts .accordeon__list {
    margin-left: 2px;
    margin-bottom: 30px;
    max-width: 270px;
  }

  .contacts__item {
    margin-right: 0;
  }
}
