.contacts {
  margin-right: 3px;
}

@media (max-width: $tablet-width) {
  .contacts {
    align-self: flex-start;
    margin-right: 8px;
  }

  .contacts .accordeon__list {
    margin-right: 3px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts h2 {
    margin-bottom: 31px;
  }

  .contacts .accordeon__list {
    max-height: 125px;
    margin-left: 5px;
    margin-bottom: 30px;
    max-width: 270px;
  }

  .contacts__item {
    margin-right: 0;
  }
}
