.copyright {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  font-family: $ptmono;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: rgba($darkest, 0.5);
  margin-top: 59px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba($border, 0.2);
    left: 0;
    bottom: 52px;
  }

  p {
    &:last-child {
      margin-right: 5px;
    }
  }
}

.copyright__confidentiality {
  margin-right: 265px;

  &:hover,
  &:focus {
    color: $darkest;
  }

  &:active {
    color: rgba($darkest, 0.2);
  }
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 457px;
  align-items: center;

  p {
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .copyright {
    margin-top: 47px;

    p {
      &:last-child {
        margin-right: 0;
      }
    }

    &::before {
      bottom: 58px;
    }
  }

  .copyright__confidentiality {
    margin-right: 0;
    margin-left: 3px;
  }

  .copyright__wrapper {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .copyright {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;

    &::before {
      display: none;
    }
  }

  .copyright__confidentiality {
    margin-bottom: 8px;
  }
}
