.feedback {
  background-color: $blue;
  padding-top: 91px;
  padding-bottom: 113px;
  color: $white;
  overflow: hidden;
}

.feedback p {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 0;

  &:last-of-type {
    font-family: $ptmono;
    margin-left: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
  }
}

.feedback form {
  margin-top: 50px;
  display: flex;
  margin-left: 4px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 264px;
    height: 290px;
    top: -130px;
    right: -362px;
    opacity: 0.3;
    background-image: url("../img/small-triangle-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    width: 473px;
    height: 400px;
    top: 90px;
    right: -495px;
    opacity: 0.3;
    background-image: url("../img/small-triangle-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(60deg);
  }
}

.feedback textarea {
  flex-grow: 1;
  min-height: 154px;
  margin-bottom: 44px;
  border: 0;
  border-radius: 0;
  background-color: rgba($white, 0.1);
  padding-left: 16px;
  padding-top: 13px;
  color: $white;
  font-family: $ptmono;
  resize: none;
  outline: none;

  &:focus,
  &:hover {
    border: 1px solid $white;
  }

  &::placeholder {
    color: $white;
    font-family: $ptmono;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback .container {
  max-width: 1170px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 288px;
    top: 70px;
    right: 58%;
    background-image: url("../img/paper-airplane@1x.png");
    background-repeat: no-repeat;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/paper-airplane@2x.png");
      background-size: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 670px;
    height: 640px;
    top: -150px;
    left: -200px;
    background-image: url("../img/triangles.svg");
    background-repeat: no-repeat;
  }
}

.feedback__wrapper {
  margin-left: auto;
  margin-right: 0;
  max-width: 574px;
}

.feedback__name input,
.feedback__phone input {
  height: 50px;
  min-width: 270px;
  border: 0;
  border-radius: 0;
  background-color: rgba($white, 0.1);
  padding: 13px;
  padding-left: 17px;
  margin-bottom: 40px;
  color: $white;
  font-family: $ptmono;
  outline: none;

  &:focus,
  &:hover  {
    border: 1px solid $white;
  }

  &::placeholder {
    color: $white;
    font-family: $ptmono;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__submit {
  cursor: pointer;
  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 14px 0;
  color: $white;
  min-width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: rgba($darkest, 0.4);
    color: rgba($darkest, 0.4);
  }

  &:active {
    border-color: rgba($darkest, 0.2);
    color: rgba($darkest, 0.2);
  }
}

.feedback__label {
  position: relative;
  font-family: $ptmono;
  font-size: 14px;
  line-height: 16px;
  max-width: 230px;
}

.feedback__button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.feedback__button-block input {
  position: relative;

  &:invalid:required {
    position: absolute;
    right: 250px;
    bottom: 22px;
  }

  & + label::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid $white;
    left: -32px;
    top: 2px;
  }

  &:hover + label::before,
  &:focus + label::before {
    border-color: $darkest;
  }

  &:active + label::before {
    border-color: $darkest;
  }

  & + label::after {
    display: none;
    position: absolute;
    content: "";
    left: -28px;
    top: 7px;
    height: 5px;
    width: 8px;
    background-color: $white;
    mask: url("../img/icon-check.svg");
  }

  &:hover + label::after,
  &:focus + label::after {
    background-color: $darkest;
  }

  &:checked + label::after {
    display: block;
  }
}

@media (max-width: 1200px) {
  .feedback .container {
    max-width: 1000px;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 78px;
    padding-bottom: 103px;
  }

  .feedback .container {
    max-width: 750px;

    &::before,
    &::after {
      display: none;
    }
  }

  .feedback p {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 18px;

    &:last-of-type {
      margin-left: 6px;
    }
  }

  .feedback form {
    margin-top: 55px;

    &::before,
    &::after {
      display: none;
    }
  }

  .feedback textarea {
    min-height: 159px;
    margin-bottom: 46px;
    padding-left: 17px;
  }

  .feedback__wrapper {
    margin-right: auto;
    max-width: 595px;
  }

  .feedback__submit {
    min-width: 279px;
  }

  .feedback__button-block input {
    &:invalid:required {
      right: 260px;
    }

    & + label::before {
      left: -33px;
    }

    & + label::after {
      left: -29px;
    }
  }

  .feedback__name input,
  .feedback__phone input {
    height: 51px;
    min-width: 279px;
    padding-left: 17px;
    margin-bottom: 41px;
  }

  .feedback__label {
    max-width: 238px;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback {
    padding-top: 31px;
    padding-bottom: 42px;
  }

  .feedback p {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 12px;

    &:last-of-type {
      margin-left: 0;
    }
  }

  .feedback form {
    margin-top: 26px;
    margin-left: 0;
  }

  .feedback textarea {
    min-height: 104px;
    margin-bottom: 32px;
    padding-left: 17px;
  }

  .feedback .container {
    max-width: 290px;
  }

  .feedback__wrapper {
    max-width: 290px;
  }

  .feedback__submit {
    min-width: 100%;
    margin-bottom: 30px;
  }

  .feedback__name input,
  .feedback__phone input {
    min-width: 290px;
    margin-bottom: 30px;
  }

  .feedback__label {
    margin-left: 18px;
  }

  .feedback__button-block {
    flex-direction: column;
  }

  .feedback__button-block input {
    &:invalid:required {
      left: 10px;
      bottom: 15px;
    }

    & + label::before {
      left: -34px;
    }

    & + label::after {
      left: -30px;
    }
  }
}
