.footer {
  position: relative;
  overflow-x: hidden;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 64px;
  color: $darkest;
}

@media (max-width: 1430px) {
  .footer .container {
    max-width: 95%;
  }
}

@media (max-width: $tablet-width) {
  .footer .container {
    max-width: 94%;
    padding: 0 2px;
    padding-top: 19px;
  }
}

@media (max-width: $mobile-width-only) {
  .footer .container {
    padding-top: 46px;
  }
}
