.header {
  background: $darkest url("../img/bg@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  overflow-x: hidden;
  padding-top: 14px;

  @media (min-resolution: 2dppx) {
    background: $darkest url("../img/bg@2x.png");
    background-size: 100%;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 229px;
  color: $white;
}

.header__wrapper img {
  width: 202px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 658px;
  margin-right: 5px;
}

.header__call-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: transparent;
  padding: 14px;
  min-width: 180px;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 38px;

  &:focus,
  &:hover {
    color: $grey;
    border-color: $grey;
  }

  &:active {
    color: $white;
    border-color: $white;
    opacity: 0.1;
  }
}

.header__contact {
  font-family: $ptmono;
  font-size: 16px;
  line-height: 18px;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__contact svg {
  margin-right: 11px;
}

.header__phone-wrapper svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 0;
  }

  .header__wrapper {
    padding-bottom: 116px;
  }

  .header__call-button {
    display: none;
  }

  .header__contacts {
    min-width: 83px;
    margin-right: 0;

    &:first-child svg {
      width: 25px;
      height: 18px;
    }
  }

  .header__contacts svg {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  .header__contacts span {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .header__contacts {
    margin-top: 5px;
    min-width: 78px;
  }

  .header__phone-wrapper svg {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
  }

  .header__wrapper {
    padding-top: 15px;
    padding-bottom: 232px;
  }

  .header__wrapper img {
    margin-left: 8px;
    width: 38px;
  }
}
