.main-block {
  display: flex;
  flex-direction: column;
  min-height: 564px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 705px;
    height: 515px;
    top: -60px;
    right: -75px;
    background: url("../img/circuit.png");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 705px;
    height: 670px;
    bottom: 90px;
    right: -67px;
    background: url("../img/triangles.svg");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
  }

  h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    z-index: 2;
    margin: 0;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    font-family: "PT Mono";
    max-width: 683px;
    margin: 0;
    margin-left: 94px;
    margin-top: 28px;
    margin-bottom: 42px;
    z-index: 2;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 66px;
      height: 2px;
      top: 17px;
      left: -94px;
      background-color: $white;
    }
  }
}

.main-block__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  max-width: 407px;
  padding: 17px;
  padding-top: 19px;
  background: $blue;
  border-radius: 5px;
  margin-left: 94px;
  z-index: 2;

  &:focus,
  &:hover {
    color: $lightgrey;
    background: rgba($blue, 0.8);
  }

  &:active {
    color: $lightgrey;
    background: $darkest;
  }
}

.main-block__button--mobile {
  display: none;
}

.main-block__scroll {
  font-family: "PT Mono";
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  align-self: flex-start;
  margin-top: auto;
  margin-left: -36px;
  margin-bottom: 129px;
  transform: rotate(-90deg);
  z-index: 2;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (max-width: $tablet-width) {
  .main-block {
    min-height: 498px;

    &::after {
      width: 465px;
      height: 340px;
      top: -75px;
      right: -230px;
      background-size: contain;
    }

    &::before {
      width: 505px;
      height: 505px;
      top: -227px;
      right: -200px;
      background-size: cover;
    }

    h1 {
      font-size: 60px;
      line-height: 70px;
      max-width: 300px;
      margin-left: 64px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      max-width: 356px;
      margin-top: 30px;
      margin-bottom: 55px;
      margin-left: 115px;

      &::before {
        width: 33px;
        height: 2px;
        top: 17px;
        left: -50px;
      }
    }
  }

  .main-block__button {
    max-width: 379px;
    padding: 17px;
    margin-left: 115px;
  }

  .main-block__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-block {
    min-height: auto;
    padding-bottom: 70px;

    &::after {
      width: 301px;
      height: 220px;
      top: -192px;
      right: -18px;
    }

    &::before {
      width: 480px;
      height: 480px;
      top: -330px;
      right: -322px;
    }

    h1 {
      font-size: 40px;
      line-height: 47px;
      max-width: 277px;
      margin-left: 5px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      max-width: 245px;
      margin-top: 28px;
      margin-bottom: 43px;
      margin-left: 57px;

      &::before {
        width: 33px;
        height: 2px;
        top: 16px;
        left: -49px;
      }
    }
  }

  .main-block__button {
    display: none;
  }

  .main-block__button--mobile {
    display: block;
    min-width: 287px;
    margin: 0 auto;
  }
}
