.page-body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
}

.page-body__wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 760px;
    height: 720px;
    bottom: -50px;
    left: 120px;
    background-image: url("../img/single-triangle.svg");
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 760px;
    height: 720px;
    bottom: 32%;
    right: 35%;
    background-image: url("../img/single-triangle.svg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (max-width: $tablet-width) {
  .page-body__wrapper {
    &::before {
      display: none;
    }

    &::after {
      bottom: 300px;
      right: -200px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-body__wrapper {
    &::after {
      bottom: 422px;
      right: -319px;
    }
  }
}
