.services {
  background-color: $darkest;
  padding-top: 88px;
  padding-bottom: 127px;
  color: $white;
}

.services p {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.services .container {
  max-width: 1170px;
  //max-width: 1020px;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.services__item {
  min-height: 620px;
  background: url("../img/manifacturing@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/manifacturing@2x.png");
    background-size: 100%;
  }

  &:nth-child(3n-1) {
    background: url("../img/installation@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/installation@2x.png");
      background-size: 100%;
    }
  }

  &:nth-child(3n) {
    background: url("../img/lighting@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/lighting@2x.png");
      background-size: 100%;
    }
  }
}

.services__item h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 162px;
}

.services__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 44px;
  min-width: 100%;
  min-height: 100%;
}

.services__button {
  width: 63px;
  height: 63px;
  background-color: $blue;
  margin-left: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 4px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
  }
}

@media (max-width: 1175px) {
  .services .container {
    max-width: 1020px;
  }
}

@media (max-width: $tablet-width) {
  .services {
    padding-top: 50px;
    padding-bottom: 78px;
  }

  .services p {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 45px;
    max-width: 613px;
  }

  .services .container {
    max-width: 719px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
    gap: 46px;
    justify-content: center;
  }

  .services__item {
    min-height: 256px;
    width: 715px;
    background: url("../img/manifacturing-tablet@1x.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/manifacturing-tablet@2x.png");
    }

    &:nth-child(3n-1) {
      background: url("../img/installation@1x.png");
      background-size: cover;
      background-position: 0;
      width: 720px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/installation@2x.png");
        background-size: 100%;
      }
    }

    &:nth-child(3n) {
      background: url("../img/lighting@1x.png");
      background-size: cover;
      background-position: 0;
      width: 720px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/lighting@2x.png");
        background-size: 100%;
      }

      .services__link {
        padding-top: 50px;
      }
    }
  }

  .services__link {
    padding-top: 40px;
    min-height: 256px;
  }
}

@media (max-width: $mobile-width-only) {
  .services {
    padding-top: 51px;
    padding-bottom: 64px;
  }

  .services p {
    margin-bottom: 43px;
    margin-left: 10px;
    font-size: 28px;
    line-height: 39px;
  }

  .services .container {
    width: 90%;
  }

  .services__list {
    gap: 30px;
  }

  .services__item {
    width: auto;

    &:nth-child(3n-1) {
      width: auto;
    }

    &:nth-child(3n) {
      width: auto;

      .services__link {
        padding-top: 30px;
      }
    }
  }

  .services__link {
    padding-top: 20px;
    padding-left: 35px;
    min-height: 256px;
  }
}
