.site-nav {
  margin-right: 142px;
  min-height: 143px;
}

.site-nav .accordeon__list {
  max-width: 516px;
}

.site-nav__item {
  margin-right: 74px;
}

@media (max-width: $tablet-width) {
  .site-nav {
    position: relative;
    margin-right: 0;
  }

  .site-nav h2 {
    margin-left: 2px;
    margin-bottom: 25px;
  }

  .site-nav .accordeon__list {
    max-height: 100%;
    margin-right: 0;
  }

  .site-nav__item {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .site-nav {
    min-height: auto;
  }
}
