.site-nav {
  margin-right: 142px;
  min-height: 143px;

  h2 {
    margin: 0;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.site-nav__list {
  font-family: "PT Mono";
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.5;
  max-height: 100px;
  max-width: 516px;
}

.site-nav__item {
  margin-right: 74px;
}

.site-nav__button {
  display: none;
}

@media (max-width: $tablet-width) {
  .site-nav {
    position: relative;
    margin-right: 0;

    h2 {
      margin-left: 2px;
      margin-bottom: 25px;
    }
  }

  .site-nav__list {
    max-height: 100%;
    margin-right: 0;
  }

  .site-nav__item {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .site-nav {
    position: relative;
    min-height: auto;

    h2 {
      margin: 29px 0;
      margin-left: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      min-width: 768px;
      height: 1px;
      background-color: rgba($border, 0.2);
      left: -50%;
      top: 72px;
    }
  }

  .site-nav__button {
    display: block;
    border: 0;
    width: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-position: center;
      mask: url("../img/icon-plus.svg");
      background-color: $icon;
      right: -13px;
      top: -7px;
    }
  }

  .site-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
  }

  .site-nav__wrapper--opened {
    .site-nav__button {
      &::before {
        width: 16px;
        height: 1px;
        mask: none;
        background-color: $icon;
        right: 0;
        top: 0;
        transform: none;
      }
    }
  }

  .site-nav__list--closed {
    display: none;
  }

  .site-nav__list--opened {
    display: block;
  }

  .site-nav__item {
    margin-right: 0;
  }
}
