img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1416px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    max-width: 300px;
  }
}

@font-face {
  font-family: "PT Mono";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptmono-regular.woff2") format("woff2"), url("../fonts/ptmono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"), url("../fonts/robotocondensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff");
}
